
body{
background:#020617;
color:white;
font-family:Arial;
padding:40px;
}
a{
display:inline-block;
margin-top:20px;
background:#7c3aed;
color:white;
padding:12px 16px;
border-radius:12px;
text-decoration:none;
}
